* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

:root {
  --primary-color: #59b2f6;
  --bg: #dbeffe;
  --btn: #f52a50;
  --text: #706c72;
  --white: #ffff;
}

.flex {
  display: flex;
  align-items: center;
}

.heading {
  text-align: center;
  font-weight: 400;
  margin-top: 30px;
}

.heading span {
  text-transform: capitalize;
  color: var(--btn);
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.container {
  max-width: 40%;
  height: 200px;
  border: 2px solid var(--primary-color);
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
}

.inner-container {
  justify-content: center;
  gap: 2rem;
  margin: 1px;
  padding: 13px 0;
}

#hight {
  margin-left: 14px;
}

input[type="number"] {
  width: 18%;
  height: 40px;
  outline: none;
  border-radius: 7px;
  text-align: center;
  font-size: 18px;
  background-color: var(--bg);
  border: none;
  cursor: pointer;
  font-weight: 600;
}
input[type="radio"] {
  width: 25px;
  height: 25px;
  outline: none;
  cursor: pointer;
}

.btn {
  background-color: var(--btn);
  color: #fff;
  padding: 10px 30px;
  margin: 15px;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

label {
  font-size: 18px;
  color: var(--text);
}
p {
  text-align: center;
}

.show-result {
  color: var(--primary-color);
  font-size: 2rem;
  margin-top: 30px;
}

.count {
  font-size: 1.1rem;
  margin-top: 25px;
}
